{% extends "layout.html" %}
<!-- Available slots in layout.html to plug html 
- title block
- main block
use jinja template language to comment out jinja template code 
-->
{# comment #}



{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
<div>
    <h1>Buy Shares</h1>
        <form action="/buy" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
            </div>

            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1" step="1">
            </div>

            <button class="btn btn-primary" type="submit">Buy share</button>
        </form>
</div>
{% endblock %}
